<div appRtl>
  <app-navbar></app-navbar>

  <main class="w-100 mx-auto">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>

  <app-auth-required-dialog></app-auth-required-dialog>

  @if (uiState.activeAlert(); as alert) {
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1100; max-width: 400px; width: 100%;">
      <app-alert
        [type]="alert.type"
        [message]="alert.message"
        (close)="uiState.dismissAlert()">
      </app-alert>
    </div>
  }
</div>
