<div class="search-container position-relative w-100">
  @if (searchControl.value) {
    <button type="button" (click)="clearSearch()" class="btn-clear position-absolute top-50 translate-middle-y border-0 bg-transparent text-secondary p-0">
      ✕
    </button>
  } @else {
    <span class="search-icon position-absolute top-50 translate-middle-y text-secondary">🔍</span>
  }
  <input type="text" [formControl]="searchControl" [placeholder]="placeholder" class="form-control search-input rounded-pill shadow-sm" appAutoDir>
</div>